<html>
<head>
	<title> Main Handlebars </title>
	<style type="text/css">
		* {
			margin: 0px;
			padding: 0px;
			box-sizing: border-box;
		}
		body { /* The css here is really good to be used on any site */
			/* If the first font doesn't exist or sint avaliable to the user the one after the comma is taken */
			font-family: 'Lato', 'Arial Black', 'Comic Sans';
			font-weight: 400;
			font-size: 16px;
			line-height: 1.7;
			color: #777;
		}
		.header {
			height: 95vh; /* vh stands for view height so this means that the height will be 95% of the screen the elemnt is being viewed from */
			background-image: url('Hero.jpg'); /* How to import images in css */
			background-size: cover; /* Makes elemnt (photo) adapt well to the view port */
			background-position: top;
		}
	</style>
</head>

<body>
	<header class="header">
		<h1> Hello Handlebars </h1>
		{{#if published}}
			{{content}}
		{{/if}}

		<ul>
			{{#each people}}
				<li> {{this}} </li>
			{{/each}}
		</ul>

		<h4> {{person}} ...showed only because you are under the /person/PERSON'S NAME route </h4>
	</header>
</body>
</html>